/* -------------------------------------------------------------------------------------------------
  # Bar Filler
------------------------------------------------------------------------------------------------- */
.barfiller {
  background: none repeat scroll 0 0 #333;
  border: 1px solid #c0c0c0;
  float: left;
  height: 17px;
  margin-bottom: 7px;
  position: relative;
  width: 92%;
}

.barfiller .fill {
  display: block;
  position: relative;
  width: 0;
  height: 100%;
  background: #333;
  z-index: 1;
}

.barfiller .tipWrap {
  display: none;
}

.barfiller .tip {
  font-family: 'Arial';
  margin-top: -26px;
  padding: 2px 8px;
  font-size: 10px;
  color: #b2b2b2;
  left: 0;
  position: absolute;
  z-index: 2;
  background: #000;
}

.barfiller .tip:after {
  border: solid;
  border-color: rgba(0, 0, 0, 1) transparent;
  border-width: 6px 6px 0 6px;
  content: "";
  display: block;
  position: absolute;
  left: 9px;
  top: 100%;
  z-index: 9;
}

.progressBarWrap {
  padding: 10px;
  background: #f0f0f0;
  border-radius: 5px;
  display: inline-block;
  width: 100%;

  * {
    font-size: 12px;
  }
}

.progressBarWrap span.course-completion-rate {
  display: block;
}

.progressBarWrap .barfiller + div {
  margin-left: 5px;
  line-height: 17px;
  float: left;
  color: #600;
  font-family: $font;
}
