/* -------------------------------------------------------------------------------------------------
  # Gravity Forms Custom Styles
------------------------------------------------------------------------------------------------- */
.gform_confirmation_wrapper {
  margin: 40px 0;
  padding: 30px 15px;
  background: rgba($light-green, 0.95);
  border-radius: 10px;

  .gform_confirmation_message {
    font-size: 16px;
    font-family: $font;
    color: rgba($white, 0.85);
  }
}

.gform_footer input[type=submit] {
  background-position: 95% center !important;
  margin: 0;
  transition: all 0.25s ease-in-out;

  &:hover {
    background-color: $green;
  }
}
