/*--------------------------------------------------------------------------------------------------
  Plug In Overrides
--------------------------------------------------------------------------------------------------*/
// AddThis
// --------------------------------------------------------------
.entry-content > .at-above-post-page {
    display: none;
}

// Mobile Menu
// --------------------------------------------------------------
.nav > li {
    position: static;

    @media screen and (min-width: 992px) {
        position: relative;
    }
}

a.back {
    text-transform: none !important;
}

// Hopscotch
// --------------------------------------------------------------
div.hopscotch-bubble {
    .hopscotch-nav-button.next {
        border: none;
        color: rgb(255, 255, 255);
        margin: 0 0 0 10px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.35);
        background-color: $tathata-red;
        background-image: none;

        &:hover {
            background: $red;
        }
    }
}

div.hopscotch-bubble {
    .hopscotch-nav-button.prev {
        border: none;
        color: rgb(68, 68, 68);
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        background-color: rgb(242, 242, 242);

        &:hover {
            background: rgb(242, 242, 242);
        }
    }
}

div.hopscotch-bubble {
    .hopscotch-bubble-number {
        background: $green;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        padding: 0;
        font-size: 20px;
        line-height: 35px;
    }
}

// Embed Anything
// --------------------------------------------------------------
.embed_download {
    margin: 10px 0 !important;
    font-size: 16px !important;
    text-transform: uppercase !important;

    .single-chapter-support & {
        margin: 0 auto !important;
        position: absolute;
        bottom: 0;
    }

    &:before {
        content: '\f019';
        font-family: "fontAwesome";
        font-size: 16px;
        color: $red;
        margin-right: 10px;
    }
}

// Tathata Certified Connector
// --------------------------------------------------------------
.instructor-card {
    @media screen and (min-width: 1024px) {
        min-height: 180px;
    }
}

// WooCommerce
// --------------------------------------------------------------
// Hide the hero on the Swing Submittal product
.postid-162934,
.postid-47155,
.postid-62882 {
    #page-hero {
        display: none;
    }
}

.woocommerce div.product .woocommerce-tabs .panel {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: none;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    background: none;
}
