/* -------------------------------------------------------------------------------------------------
  # QA Player Pagination
------------------------------------------------------------------------------------------------- */

h1, h2, ul {
  clear: both;
}

ul.pagination1 li:hover,
ul.pagination2 li:hover,
ul.pagination3 li:hover {
  background-color: #ff9500;
}

ul.pagination1 li,
ul.pagination2 li,
ul.pagination3 li {
  padding: 10px;
  font-family: georgia;
  background-color: #8890fc;
  font-size: 24px;
  color: #fff;
  line-height: 1;
  width: 600px;
  margin-bottom: 1px;
  list-style: none;
}

ul.red {
  outline: 10px solid red;
}

ul.simplePagerNav li {
  display: block;
  float: left;
  padding: 10px;
  margin-bottom: 10px;
  font-family: georgia;
  font-size: 14px;
}

ul.simplePagerNav li a {
  color: #333;
  text-decoration: none;
}

li.currentPage {
  background: #ff9500;
}

ul.simplePagerNav li.currentPage a {
  color: #fff;
}

table.pageme {
  border-collapse: collapse;
  border: 1px solid #ccc;
}

table.pageme td {
  border-collapse: collapse;
  border: 1px solid #ccc;
}
