/* -------------------------------------------------------------------------------------------------
  # Slinky Menu
------------------------------------------------------------------------------------------------- */
.slinky-menu {
  overflow: hidden;
}

.slinky-menu > ul {
  left: 0;
  position: relative;
}

.slinky-menu ul,
.slinky-menu li {
  list-style: none;
  margin: 0;
}

.slinky-menu ul {
  width: 100%;
}

.slinky-menu li ul {
  display: none;
  left: 100%;
  position: absolute;
  top: 0;
}

/* Default theme */
.slinky-menu a {
  border: none;
  color: rgb(157, 157, 157) !important;
  padding: 1em;
  display: block;
  text-transform: none !important;
}

@media screen and (max-width: 992px) {
  .slinky-menu a.next::after {
    content: '\276f';
    margin-left: 1em;
    float: right;
  }

  .slinky-menu a.back::before {
    content: '\276e';
    margin-right: 1em;
    float: left;
  }
}
