/* -------------------------------------------------------------------------------------------------
  # Testimonial Ticker
------------------------------------------------------------------------------------------------- */
.tt-ticker {
  margin: 0;
  padding: 1.5em 0;
  height: auto;
  background-color: #231f20;
  color: $white;

  // Hide the ticker, will use JS to display it once the page is loaded
  display: none;
  transition: all .5s ease;

  p,
  a,
  button,
  blockquote,
  cite {
    font-family: $font;
    font-weight: 400;
    color: $white;
    font-size: .75em;
    line-height: 1.5;
    font-style: normal;
  }

  // Submit button
  a,
  button {
    margin: 0 auto;
    padding: .5rem 1rem;
    display: block;
    max-width: 75%;
    border-radius: 50px;
    background-color: $tathata-red;
    text-transform: uppercase;
    font-size: .625em;
    text-align: center;
    transition: all 0.3s ease-out;

    @media screen and (min-width: 365px) {
      max-width: 45%;
    }

    @media screen and (min-width: 540px) {
      max-width: 35%;
    }

    @media screen and (min-width: 992px) {
      margin: 0;
    }

    &:hover {
      background-color: #1c9b1c;
    }
  }

  p {
    text-align: center;
    font-weight: 600;
    padding: 0 !important;
    font-size: 14px !important;
  }
}

// The testimonial
.testimonial-ticker {
  p {
    font-size: 16px;
    font-weight: 400;

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }

  blockquote {
    margin: 0 0 20px 0 !important;
    padding: 10px 20px !important;

    p {
      font-style: normal;
      line-height: 1.5;
      margin-bottom: 10px;

      @media screen and (max-width: 768px) {
        margin: 0;
      }
    }

    cite {
      color: #ce1731;
      text-transform: uppercase;
      font-size: 1.25rem;
      font-weight: 900;
      display: block;
      font-family: $font;
      font-style: normal;
    }

    footer {
      background: transparent;
      display: inline;

      &:before {
        content: '';
      }
    }
  }
}

// The number of hours trained
.page-template-60day_promo #tickerHours,
.page-template-60day-affiliate #tickerHours,
#tickerHours {
  margin: 1rem 0;
  padding: 0;
  text-align: center;
  font-size: 3.5em !important;
  font-weight: 700 !important;
  line-height: 1;
  color: #900;

  @media screen and (min-width: 992px) {
    margin: 0 0 1rem 0;
  }
}

// Vertical alignment without flexbox
.tt-ticker {
  .container {
    .col-md-5 {
      @media screen and (min-width: 992px) {
        margin: 15px 0;
      }
    }
  }
}

#gtwrapper .testimonial-title,
.testimonial-title {
  color: #900;
  text-align: center;
  font: 700 1.375em $h1-font;
  text-transform: uppercase;
  margin: 0 0 20px;
  padding: 0;
}

#tickerHours {
  font-size: 2.625em !important;
}
