/* -------------------------------------------------------------------------------------------------
  # WooCommerce Shopping Cart
------------------------------------------------------------------------------------------------- */

/* Redbox stars */
.star-rating,
.rating,
.count {
  display: none !important;
}

.redBoxContent .woocommerce .price {
  float: left;
  margin-top: 14px;
}

/* Lesson content Stars */
.ratingContainerWrap {
  display: none !important;
}

/* Gear page overrides */
.col-md-6.col-sm-6.col-xs-12.gear-col > a.button {
  display: none !important;
}

/* Hide the h3 that isnt a link.  */
.gearPart figcaption h3 {
  display: none !important;
}

.gearPart figcaption h5 a {
  font-weight: 100;
  font-size: 18px;
  font-family: $font;
  font-weight: 400;
}

/* Gear promo section for logged in users.  */
.memberPromo {
  background: #eee;
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  clear: both;
  margin-bottom: 20px;
}

.memberPromo h3 {
  margin-top: 20px;
}

.memberPromo img {
  text-align: center;
  margin: 10px auto;
}

.memberPromo .promocontent p {
  margin-bottom: 15px;
}

.memberPromo .memberbuy p.price {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}

.memberPromo .memberbuy a.buynowbutton {
  display: block;
  padding: 10px 5px;
  text-align: center;
  color: $white;
  background: #111;
  border-radius: 4px;
  max-width: 150px;
  margin: 10px auto 10px;
}

.memberPromo .memberbuy a.buynowbutton:hover {
  background: $dark-red;
}

.memberPromo br.clear {
  clear: both;
  display: block;
}

.remodal .memberPromo {
  background: $white;
  border: none;
}

/* On cart check out add ons */
div.woocommerce > form {
  position: relative;
}

div.sfn-cart-addons {
  position: absolute;
  width: 45%;
}

.sfn-cart-addons h2 {
  font-size: 16px;
  line-height: 20px;
  margin-left: 15px;
  float: left;
  width: 100%;
}

.sfn-cart-addons h3 {
  margin-top: 0;
  font-size: 15px;
  font-weight: 800;
  line-height: 20px;
  margin-left: 15px;
  float: left;
  width: 100%;
  padding-bottom: 10px;
}

.sfn-cart-addons .gear-col {
  width: 100%;
  max-width: 100%;
  border: 0;
}

.sfn-cart-addons .gearPart {
  width: 100%;
}

.sfn-cart-addons .gear-col .overlay .expand {
  left: 50%;
  margin-left: -80px;
}

.sfn-cart-addons .gear-col:hover .overlay .expand {
    opacity: 1;
}

.sfn-cart-addons figure > img {
  max-width: 200px;
  max-height: 200px;
}

div.woocommerce div.cart-collaterals {
  @media screen and (min-width: 768px) {
    padding-bottom: 450px;
  }
}

@media (max-width: 800px) {
  div.sfn-cart-addons {
    position: static;
    width: 100%;
  }
  .sfn-cart-addons h2, .sfn-cart-addons h3 {
    padding-bottom: 0;
  }
}

// Give the product titles some room to breath
.gearPart figcaption {
  margin-top: 35px;
}

// Stop clipping any letters hanging below the baseline
.gearPart figcaption h5 {
  overflow: initial;
  line-height: 1.5;
}

// Give the tabs room to breath
.woocommerce-tabs {
  margin-top: 40px;
}

// Fix the odd spacing
.prod-record h4 span, .prod-record h4 span a {
  margin-left: 2px;
}
