/*--------------------------------------------------------------------------------------------------
  404 Page
--------------------------------------------------------------------------------------------------*/
#page404 {
    padding: 60px 10px;

    p {
        font-size: 16px;
        margin-bottom: 20px;
    }
}
