/* -------------------------------------------------------------------------------------------------
  # 60 Day Affiliate
------------------------------------------------------------------------------------------------- */
#gtwrapper {
    .affiliate-intro {
        padding-top: 60px;

        * {
            text-align: center;
        }

        p {
            font-size: 22px;
        }
    }
}
