/* -------------------------------------------------------------------------------------------------
  # 60 Day Broken Apart
------------------------------------------------------------------------------------------------- */
#broken-apart {
    .container {
        max-width: initial;
    }

    section.row {
        padding: 1em 0;
    }

    h1,
    h2,
    h3 {
        line-height: 1.3;
    }

    h3 {
        font-size: 28px;
    }

    span {
        color: $red;
    }

    p {
        margin-bottom: 1em;
        font-size: 16px;
    }
}

#menu-video-menu {
    .sub-menu li {
        width: 100%;
        font-size: 16px;

        @media screen and (min-width: 768px) {
            width: 49%;
        }

        @media screen and (min-width: 992px) {
            width: 32.5%;
            margin: 0 1px 10px;
        }
    }
}
