/* -------------------------------------------------------------------------------------------------
  # Affiliate Welcome
------------------------------------------------------------------------------------------------- */
.affiliate-welcome {
    h1 {
        @include title(center);
    }

    .embed-responsive {
        margin: 20px 0 0;
    }

    .darkbar {
        margin: 40px 0;
        padding: 40px 0;
        background: $black;
        color: $white;
        text-align: center;

        h2 {
            @include title(center);
        }
    }
}
