/* -------------------------------------------------------------------------------------------------
  # Become an Affiliate
------------------------------------------------------------------------------------------------- */
.become-an-affiliate {
    margin-bottom: 40px;

    h1 {
        @include title(center);
    }

    .sub-head {
        font-family: $font-header;
        font-size: 20px;
        font-weight: 700;
        color: rgba($light-gray, 0.75);
    }

    img {
        width: 100%;
    }

    p:empty {
        display: none !important;
    }
}
