/*--------------------------------------------------------------------------------------------------
  Certified Movement Specialists Program
--------------------------------------------------------------------------------------------------*/

// Featured Image
.tgc-hero {
    max-width: 100%;
    height: 300px;
    background: linear-gradient(rgba(#000, .15), rgba(#000, .55)), url('../img/cms-hero-image.jpg') center center / cover no-repeat;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
        text-align: left;
        flex-direction: row;
    }

    @media screen and (min-width: 992px) {
        height: 500px;
    }

    div {
        flex: 0 1 auto;
        align-self: center;
    }
}

// Style the logo
.tgc-hero--logo {
    background: url('../img/cms-logo.png') center center / contain no-repeat;
    width: 150px;
    height: 150px;
    opacity: .35;

    @media screen and (min-width: 768px) {
        margin-right: 2em;
        width: 175px;
        height: 175px;
    }
}

// Style the content
.tgc-hero--content {
    max-width: 750px;

    h1, p {
        font-family: 'Open Sans', Helvetica, sans-serif;
        color: #fff;
        text-shadow: 5px 4px 10px #000;
        text-transform: capitalize;
        max-width: 500px;
        margin: 0 0 0.25em;
    }

    h1 {
        font-size: rem(24);

        @media screen and (min-width: 992px) {
            font-size: rem(34);
        }
    }

    p {
        font-size: 1rem;

        @media screen and (min-width: 992px) {
            font-size: rem(20);
        }
    }

    span {
        color: #c00;
    }
}
