/*--------------------------------------------------------------------------------------------------
  Downloadable PDFs
--------------------------------------------------------------------------------------------------*/
#dpdfPage {
    // Main Header
    h1 {
        text-align: center;
        font-family: 'Open Sans', 'Helvetica Nue', Verdana, sans-serif;
        font-weight: 700;
        padding-bottom: 20px;
        text-transform: uppercase;
    }

    // Intro Content
    .dpdf-intro {
        padding: 15px 0 25px;

        p {
            font-size: 16px;
        }
    }

    // Sections
    .dpdf-section {
        margin-bottom: 60px;

        // Section Title
        h3 {
            margin: 20px 0;
            padding: 0;
            font-family: 'Open Sans', 'Helvetica Nue', Verdana, sans-serif;
            font-size: 22pt;
            color: rgba(46, 46, 46, 1);
            font-weight: 400;
        }

        // Nav for PDFs
        .dpdf-pdfs {
            margin: 0;
            padding: 0;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-content: flex-start;
                align-items: flex-start;

                @media screen and (min-width: 768px) {
                    // flex-direction: row;
                }

                li {
                    order: 0;
                    flex: 0 1 auto;
                    align-self: auto;
                    width: 100%;
                    display: inline-block;
                    margin: 0 10px 20px 0;

                    @media screen and (min-width: 360px) {
                        width: 46%;
                    }

                    @media screen and (min-width: 540px) {
                        width: 31.33%;
                    }

                    @media screen and (min-width: 768px) {
                        width: 18.5%;
                    }

                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }

                    h4 {
                        font-family: 'Open Sans', 'Helvetica Nue', Verdana, sans-serif;
                        font-size: 14pt;
                        color: rgba(67, 67, 67, 1);
                        font-weight: 400;
                        text-align: center;
                    }

                    p {
                        text-align: center;
                        font-size: 14px;
                        color: rgba(179, 179, 179, 1);
                        font-style: italic;
                    }
                }
            }
        }

        // Download Thumbnails
        .dpdf-thumbnail {
            width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        .dpdf-thumbnailDefault {
            width: 100%;
            max-width: 75px;
            height: auto;
            display: block;
            margin: 0 auto;
        }
    }
}
