/* -------------------------------------------------------------------------------------------------
  # Essence Page
------------------------------------------------------------------------------------------------- */
#essence {
    background: linear-gradient(to top, rgb(228, 228, 228), rgb(255, 255, 255));

    .container {
        max-width: initial;
    }

    h3 {
        font-size: 24px;
    }

    a {
        padding: 20px 0;
        display: inline-block;
        font-size: 16px;
        color: $tathata-red;

        &:hover {
            text-decoration: none;
        }
    }

    p {
        font-family: $font;
    }

    span {
        color: $tathata-red;
    }

    /* --------------------------------------------------------------
      ## Content
    -------------------------------------------------------------- */
    .content {
        margin: 60px 0;

        p {
            font-size: 16px;
        }

        img {
            margin: 40px auto 0;

            @media screen and (min-width: 992px) {
                margin: 0 auto;
            }
        }
    }

    p.pullquote {
        font-family: $font;
        font-weight: 300;
        font-size: 24px;
        text-align: center;
    }

    #bwg_container1_0 #bwg_container2_0 .bwg_slideshow_dots_container_0 {
        display: none !important;
    }

    .card-slider-a {
        display: block;
        text-align: center;
    }
}

#essence-featured-cards {
    padding: 60px 0;
    background-color: $black;
}
