/* -------------------------------------------------------------------------------------------------
  # Facilities Page
------------------------------------------------------------------------------------------------- */
.tathata-facility {
    padding: 0 0 40px;

    h1 {
        @extend %section-title;
        font-size: 1.85em;
    }
}
