/* -------------------------------------------------------------------------------------------------
  # Golf Schools Schedules
------------------------------------------------------------------------------------------------- */
.gsswFlex,
.hero_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    h1 {
        font-family: $font;
        font-size: 3em;
        font-weight: 700;
        color: $white;
        text-shadow: 5px 4px 10px $black;
        letter-spacing: 1.5px;
        margin: 0;

        @media screen and (min-width: 992px) {
            font-size: 4em;
        }
    }

    h3 {
        font-family: $font;
        font-size: 2em;
        font-weight: 300;
        color: rgb(219, 219, 219);
        text-shadow: 5px 4px 10px $black;
        margin: 10px 0;
        max-width: 800px;

        @media screen and (min-width: 992px) {
            font-size: 2.5em;
        }
    }
}

.hero_header {
    width: 100%;
    min-height: 400px;
    padding: 3em;
    text-align: center;
}
