/* -------------------------------------------------------------------------------------------------
  # Grad School Live 2
------------------------------------------------------------------------------------------------- */
.gradschool {
    .hero_header {
        img {
            margin: 0 auto;
            width: 100%;
            height: auto;
        }
    }

    .darkbox {
        .dark-conts {
            ul.scheduled_days {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    margin: 0 0 5px;
                    padding: 10px;
                    background: rgb(68, 68, 68);
                    font-size: 14px;
                    color: $white;
                    display: block;
                    width: 100%;
                    text-align: left;

                    a {
                        padding: 3px 10px;
                        margin-left: 20px;
                        display: inline-block;
                        float: right;
                        font-size: 12px;
                        background: $tathata-red;
                        color: $white;
                        -webkit-border-radius: 2px;
                        -moz-border-radius: 2px;
                        border-radius: 2px;

                        &:hover {
                            background: $black;
                        }
                    }

                    &.soldout {
                        font-style: italic;
                        text-decoration: line-through;

                        a {
                            background: $black;
                        }
                    }
                }
            }
        }
    }
}
