/* -------------------------------------------------------------------------------------------------
  # Redesigned Homepage with Video Hero
------------------------------------------------------------------------------------------------- */
#homepage-content {
    .container {
        max-width: initial;
    }

    h2,
    h3 {
        margin-top: 0;
    }

    .cta {
        position: relative;
        z-index: 10;

        .content {
            font-size: 18px;
            padding-bottom: 20px;
        }

        &.-light {
            .cta-title {
                color: $black;
            }
        }

        img {
            margin: 0 auto 20px;
        }

        a {
            margin: 0 auto;
            max-width: 70%;
        }

        .cta-title {
            text-transform: capitalize;

            @media screen and (max-width: 350px) {
                font-size: 20px;
            }
        }

        .flex-column {
            @media screen and (min-width: 768px) {
                height: 275px;
            }
        }
    }
}

/* --------------------------------------------------------------
  ## Video Hero
-------------------------------------------------------------- */
.video-container {
    position: relative;
    min-height: 93vh;
    background: url(../videos/thumbnails/home-poster.png) center center/cover no-repeat;

    @media screen and (max-width: 1024px) {
        display: none;
    }

    @media screen and (max-height: 500px) {
        min-height: 100vh;
    }
}

.video-swap {
    min-height: 50vh;

    @media screen and (min-width: 1025px) {
        display: none;
    }

    @media screen and (max-height: 500px) and (orientation: landscape) {
        height: auto;
    }
}

.video-overlay,
.img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 10;

    > .container {
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
        z-index: 10;
    }

    h1 {
        font-family: $h1-font;
        font-size: 4rem;
        font-weight: 900;
        color: $white;
        text-shadow: 7px 3px 15px $black;
        text-transform: uppercase;
        max-width: 45vw;
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            font-size: 6rem;
            max-width: 65vw;
        }

        @media screen and (min-width: 1025px) {
            font-size: 8rem;
        }
    }

    .tg-btn {
        max-width: 35vw;
        margin: 10px auto;

        @media screen and (min-width: 640px) {
            max-width: 35vw;
            margin: 20px auto;
        }

        @media screen and (min-width: 1200px) {
            max-width: 16vw;
        }
    }

    .fa {
        color: $white;
        text-shadow: 7px 3px 15px $black;
    }
}

.img-overlay {
    h1 {
        font-size: 3.5rem;
        max-width: 85vw;
    }

    .tg-btn {
        max-width: 50vw;
    }
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

/* --------------------------------------------------------------
  ## Content
-------------------------------------------------------------- */
.content-container {
    padding: 60px 0;
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
        min-height: 420px;
    }

    .content p {
        font-family: $h1-font;
        font-size: 1.5em;
        line-height: 1.5;
        text-align: center;

        @media screen and (min-width: 768px) {
            font-size: 2.75em;
        }
    }

    &[style*='background'] {
        color: $white;
    }

    .content-image {
        margin: 10px auto;
    }
}

/* --------------------------------------------------------------
  ## Solution Content
-------------------------------------------------------------- */
.solution-container {
    display: flex;
    flex-flow: column nowrap;

    @media screen and (min-width: 992px) {
        flex-flow: row nowrap;
        height: 300px;
    }
}

.solution-content {
    flex: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 3em;
    background: url(../img/TG_revolution_left_BG.jpg) center center/cover no-repeat;

    @media screen and (min-width: 992px) {
        padding: 0 5em;
    }

    img {
        @media screen and (min-width: 600px) {
            max-width: 500px !important;
        }
    }
}

.solution-sliders {
    flex: auto;

    @media screen and (min-width: 992px) {
        flex: 50%;
        min-width: 50%;
    }
}

#solution-slider {
    .solution-slide {
        min-height: 300px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        padding: 3em 5em;

        @media screen and (min-width: 992px) {
            padding: 0 5em;
        }

        &[style*='background'] * {
            color: $white;
        }
    }

    .title {
        font-size: 2em;
    }

    .content {
        font-size: 1.25em;
    }
}
