/*--------------------------------------------------------------------------------------------------
  Post-Certification
--------------------------------------------------------------------------------------------------*/
// Page specific styles
.post-cert {
    h1 {
        text-align: center;
        font-family: 'Open Sans', 'Helvetica Nue', Verdana, sans-serif;
        font-weight: 700;
        padding-bottom: 20px;
        text-transform: uppercase;
    }

    p,
    .post-cert-content {
        font-size: 16px;
    }

    img.img-responsive:hover {
        opacity: 1 !important;
    }
}

// Action Items List
.pc-items {
    padding: 40px 0;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: column;

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }

        li {
            margin-bottom: 20px;
            padding: 20px;
            position: relative;
            width: 100%;
            text-align: center;
            background: #555;
            border: 1px solid #bfbfbf;
            transition: all .3s ease;

            @media screen and (min-width: 768px) {
                width: 49%;
                text-align: left;
            }

            &:hover {
                border: 1px solid #333;
                background: #c90000;
                cursor: pointer;
            }
        }
    }
}

// Single Item
.pc-single-item {
    color: #333;
}

// Item Headers
.pc-title {
    text-align: center;
    padding: .5em 0;

    h3 {
        color: #fff;
        margin: 0;
        font-size: 24px;
        line-height: 1.25;
        text-transform: capitalize;
    }
}

// Item Icon
.pc-icon {
    margin: 0 auto;
    padding: 20px;
    width: 200px;
    height: auto;

    @media screen and (max-width: 768px) {
        padding-bottom: 20px;
    }

    img {
        margin: 0 auto;
    }
}

// Target the downloads icon
.DownloadablePDFs {
    img {
        max-width: 100px;
    }
}

/*------------------------------------------------------------------------------
  Modal
------------------------------------------------------------------------------*/
.pc-modal {
    h1 {
        margin: 0 0 30px;
    }

    .flex {
        margin-bottom: 20px;
        display: flex;
        flex-flow: column;

        @media screen and (min-width: 768px) {
            flex-flow: row nowrap;
            align-items: center;
        }
    }

    .pc-modal-image {
        flex: 1 auto;
        margin: 0 0 20px 0;

        @media screen and (min-width: 768px) {
            flex: 0 1 30%;
            margin: 0 20px 0 0;
        }

        img {
            margin: 0 auto;

            @media screen and (max-width: 768px) {
                max-width: 35%
            }
        }
    }

    .pc-modal-content {
        flex: 1 auto;
    }

    ul,
    ol {
        text-align: left;
        font-size: 16px;
    }

    a:hover {
        color: #fff;
    }

    .remodal-confirm {
        padding: 12px;
    }
}

.post-cert-title {
    text-align: center;
    font-family: 'Open Sans', 'Helvetica Nue', Verdana, sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.post-cert-content {
    font-size: 16px;
}
