/* -------------------------------------------------------------------------------------------------
  # Program Video Library
------------------------------------------------------------------------------------------------- */
.tg-broken-apart {
    p {
        font-size: 16px;
    }
}

/* --------------------------------------------------------------
  ## Intro Content
-------------------------------------------------------------- */
.intro-content {
    .tg-broken-apart & {
        span {
            color: $red;
        }
    }
}

/* --------------------------------------------------------------
  ## Main Content
-------------------------------------------------------------- */
.main-content {
    .tg-broken-apart & {
        padding: 20px 0 0;
    }
}

/* --------------------------------------------------------------
  ## Video Menu
-------------------------------------------------------------- */
.library-breakdown {
    .tg-broken-apart & {
        h2 {
            text-align: center;
            margin: 25px 0;
        }
    }
}

#video-library {
    .menu,
    .sub-menu {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .menu {
        > li > a {
            display: none;
        }
    }

    .sub-menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        li {
            flex: 1 0 100%;
            min-width: 30%;
            min-height: 100px;
            margin: 0 0.5em 1em;
            background-color: $black;
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (min-width: 768px) {
                flex: 1 0 30%;
            }
        }

        a {
            margin: 0;
            color: $white;
            background-color: $black;
            font-size: 0.95em;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 100%;
            min-height: 100%;
            height: 100px;
            max-height: 100px;
            transition: all 0.35s ease;

            &:hover {
                background-color: $tathata-red;
            }
        }
    }
}

/* --------------------------------------------------------------
  ## Additional Content
-------------------------------------------------------------- */
.additional-content {
    .tg-broken-apart & {
        padding-bottom: 40px;

        h3 {
            text-align: center;
        }
    }
}
