/* -------------------------------------------------------------------------------------------------
  # Tathata Online
------------------------------------------------------------------------------------------------- */
.tathata-online {
    p,
    li {
        font-size: 16px;
        font-family: $font;
    }

    p {
        margin-bottom: 1em;
    }

    .featured-items {
        padding: 40px 0;

        .media-item-link {
            margin: 0;
        }
    }
}
