/* -------------------------------------------------------------------------------------------------
  # Black Bar
------------------------------------------------------------------------------------------------- */
#blackbar {
    height: 40px;
    min-height: 40px;
    background: rgb(11, 11, 11);

    .flex-row {
        display: flex;
        align-items: center;
        min-height: 40px;
    }

    img.course-lessons-head-icon {
        float: none;
        position: static;
    }

    body.forum-archive & {
        display: none;
    }
}
