/* -------------------------------------------------------------------------------------------------
  # Buttons
------------------------------------------------------------------------------------------------- */
.tg-btn {
    display: block;
    margin: 0 0 20px;
    padding: $tg-btn-padding;
    background-color: $tathata-red;
    color: $white;
    font-family: $tg-btn-font;
    text-align: center;
    text-transform: uppercase;
    font-size: $tg-btn-font-size;
    line-height: $tg-btn-line-height;
    border-radius: 50px;
    border: none;
    width: 100%;
    transition: all 0.3s ease;

    &:hover {
        background-color: $red;
        color: $white;
        text-decoration: none;
    }

    &.btn-gold {
        background-color: $tathata-yellow;

        &:hover {
            background-color: lighten($tathata-yellow, 10%);
        }
    }
}

.btn-new {
    font-family: $font;
    font-weight: $tg-btn-font-weight;
    color: $white;
    line-height: 1.5;
    font-style: normal;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    display: block;
    max-width: 75%;
    border-radius: 50px;
    background-color: $tathata-red;
    text-transform: uppercase;
    font-size: 0.85em;
    text-align: center;
    transition: all 0.3s ease-out;

    @media screen and (min-width: 365px) {
        max-width: 50%;
    }

    @media screen and (min-width: 540px) {
        max-width: 40%;
    }

    @media screen and (min-width: 992px) {
        margin: 0;
    }

    &:hover {
        background-color: $tathata-green;
        color: $white;
        text-decoration: none;
    }
}

.buynow-button {
    @extend %buynow-button;
}
