/* -------------------------------------------------------------------------------------------------
  # Card Navigation
------------------------------------------------------------------------------------------------- */
.card-nav {
    padding: 40px 0;
}

/* --------------------------------------------------------------
  ## Card Menu
-------------------------------------------------------------- */
.card-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }

    > li {
        margin: 10px 0;
        padding: 20px;
        position: relative;
        width: 100%;
        text-align: center;
        background: rgb(85, 85, 85);
        border: 1px solid rgb(191, 191, 191);
        transition: all 0.3s ease;

        @media screen and (min-width: 768px) {
            width: 49%;
            text-align: left;
        }

        &:hover {
            border: 1px solid rgb(51, 51, 51);
            background: rgb(201, 0, 0);
            cursor: pointer;
        }
    }
}

/* --------------------------------------------------------------
  ## Card Items
-------------------------------------------------------------- */
.card-nav-item {
    color: rgb(51, 51, 51);

    // Title
    > .title {
        text-align: center;
        padding: 0.5em 0;

        h3 {
            color: rgb(255, 255, 255);
            margin: 0;
            font-size: 24px;
            line-height: 1.25;
            text-transform: capitalize;
        }
    }

    // Icon
    > .icon {
        margin: 0 auto;
        padding: 20px;
        width: 200px;
        height: auto;

        @media screen and (max-width: 768px) {
            padding-bottom: 20px;
        }

        img {
            margin: 0 auto;
        }
    }

    // Content
    > p {
        font-size: 16px;
        color: $white;
        text-align: center;
    }
}

/* --------------------------------------------------------------
  ## Misc.
-------------------------------------------------------------- */
@media screen and (min-width: 768px) {
    #affiliate-landing {
        .card-menu > li {
            min-height: 350px;
        }
    }
}

.card-title {
    small {
        display: block;
        font-size: 14px !important;
    }
}
