/* -------------------------------------------------------------------------------------------------
  # Fathers Day Promo
------------------------------------------------------------------------------------------------- */
.modal-promo-box {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    @media screen and (min-width: 992px) {
        flex-flow: row nowrap;
    }
}

.promo-image {
    flex: 1 0 40%;
    background: url(../img/fathersDay.jpg) center center/cover no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    @media screen and (max-width: 991px) {
        min-height: 350px;
        flex: 1 0 auto;
    }

    img {
        padding: 10px;
        max-width: 100px;
        max-height: 100px;
    }
}

.promo-content {
    flex: 1 0 60%;
    text-align: center;
    font-size: 16px;
    padding: 1.5em;

    @media screen and (max-width: 991px) {
        flex: 1 0 auto;
    }

    .title {
        font-size: 2.5em;

        @media screen and (max-width: 991px) {
            font-size: 2em;
        }
    }

    .tg-btn {
        max-width: 200px;
        margin: 1em auto;
    }
}

.promo-coupon {
    font-size: 18px;
    max-width: 75%;
    border: 3px dashed $tathata-red;
    background-color: rgba($black, 0.1);
    margin: 2.5rem auto;
    padding: 0.55em;
}

/* --------------------------------------------------------------
  ## Remodal Hacks
-------------------------------------------------------------- */

.remodal.fathers-day-modal {
    padding: 0;
    border: 3px solid $tathata-red;

    @media only screen and (min-width: 641px) {
        max-width: 85vw;
    }

    @media only screen and (min-width: 1200px) {
        max-width: 70vw;
    }

    .remodal-close {
        right: 0;
        left: initial;

        @media screen and (max-width: 992px) {
            color: $white;

            &:hover {
                color: $black;
            }
        }
    }
}
