/*----------------------------------------------------------------------------
  Lesson Menu
----------------------------------------------------------------------------*/
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
    border: none;
    line-height: 1;
    margin: 0;
    padding: 0;
}

#cssmenu {
    width: auto;
    display: block;
    border-radius: 0;
    border: 0;
    height: 40px;
    background: #0b0b0b;
}

#cssmenu > ul > li > ul > li a:hover {
    background: transparent;
}

#cssmenu > div > div > ul {
    list-style: inside none;
    margin: 0;
    padding: 0;
}

#cssmenu > div > div > ul > li {
    list-style: inside none;
    float: left;
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
}

#cssmenu li.i-menu {
    background: url('/wp-content/uploads/sites/5/2015/05/profile-icon.png') left bottom no-repeat;
    width: 19px;
}

#cssmenu li.ii-menu {
    background: url('/wp-content/uploads/sites/5/2015/05/60-day-member-icon.png') left bottom no-repeat;
    width: 22px;
}

#cssmenu li.iii-menu {
    background: url('/wp-content/uploads/sites/5/2015/05/movement-specialist-icon.png') left bottom no-repeat;
    width: 20px;
}

li.cy {
    height: 23px;
    margin: 9px 20px 8px 0 !important;
    cursor: pointer;
}

.ms-nav li.cy a {
    width: 20px !important;
    height: 23px !important;
    display: block;
    opacity: 0;
}

#menu-lesson-menu li.cy a {
    height: 100% !important;
    display: block;
    opacity: 0;
}

#menu-lesson-menu li.cy ul li a {
    opacity: 1;
}

li.cy ul.sub-menu {
    top: 32px !important;
    background: #2e2e2e !important;
    border-top: 8px solid #0b0b0b !important;
    padding: 0 !important;
}

.pageTitleWrap:after {
    display: none;
}

.menu-lesson-menu-container,
ul.ms-nav {
    display: inline-block;
    clear: none;
    list-style: inside none;
}

ul.ms-nav {
    position: relative;
}

a.c_f:after {
    content: "/";
    padding-left: 8px;
}

.page-id-1294 .chapterLinks .wpmenucartli {
    display: none !important;
}

.chapterLinks li#menu-item-4420 {
    border-right: 0;
}

.c_my_account {
    position: relative;
    float: left;
}
