/* -------------------------------------------------------------------------------------------------
  # Media Item
------------------------------------------------------------------------------------------------- */
.media-item {
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    > .image {
        flex: 1 0 30%;

        img {
            margin: 0 auto;
        }
    }

    > .content {
        flex: 1 0 70%;
        color: $black;

        .title {
            text-transform: uppercase;
            font-size: 28px;
            color: $black;
        }
    }
}

/* --------------------------------------------------------------
  ## When inside a grid
-------------------------------------------------------------- */
.-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .media-item-link {
        border: 1px solid rgba($black, 0);
        flex: 1 auto;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            margin-bottom: 20px;
        }

        @media screen and (min-width: 992px) {
            flex: 1 48.5%;
            max-width: 49%;

            &:nth-child(3) {
                margin-bottom: 0;
            }
        }

        &:hover {
            background-color: $white;
            border: 1px solid rgba($black, 0.2);
            transition: all 0.6s ease;
        }
    }

    .media-item {
        min-height: 150px;
    }
}
