/* -------------------------------------------------------------------------------------------------
  # Custom Pagination
------------------------------------------------------------------------------------------------- */
.custom-pagination {
    text-align: center;

    span,
    a {
        display: inline-block;
        padding: 2px 10px;
    }

    a {
        background-color: rgb(235, 235, 235);
        color: red;

        &:hover {
            background-color: $tathata-red;
            color: $white;
        }
    }

    .page-num {
        margin-right: 10px;
        padding: 0;
    }

    .dots {
        color: rgb(220, 220, 220);
        padding: 0;
    }

    .current {
        background-color: $tathata-red;
        color: $white;
    }
}
