/* -------------------------------------------------------------------------------------------------
  # Rest Area
------------------------------------------------------------------------------------------------- */
.rest-area {
    padding: 60px 20px;
    background-color: rgb(27, 27, 27);

    .-title {
        margin: 0 0 0.5em;
        text-align: center;
        font-family: $h1-font;
        font-weight: $h1-font-weight;
        line-height: $h1-line-height;
        color: $white;
    }

    .-content {
        font-size: 1.325em;
        font-family: $font;
        text-align: center;
        color: $white;
    }

    span {
        color: $red;
    }

    /* --------------------------------------------------------------
      ## Misc
    -------------------------------------------------------------- */
    &.-additional-benefits {
        background: url(../img/added-benefits-rest.jpg) center center/cover no-repeat;
        height: 550px;
    }
}
