/* -------------------------------------------------------------------------------------------------
  # Sidebars
------------------------------------------------------------------------------------------------- */
#secondary {
    .widget {
        ul {
            margin: 0;
            padding: 0 0 0 5px;
        }

        li {
            list-style: none;
            border-bottom: 1px solid rgba($black, 0.1);

            &:hover {
                background: transparent;
            }

            > a {
                display: block;
                width: 100%;
                height: 100%;
                font-size: 14px;
                color: $black;
                transition: all 0.3s ease;

                &:hover {
                    color: $white;
                    text-decoration: none;
                    background: $gray;
                }
            }
        }
    }
}
