/* -------------------------------------------------------------------------------------------------
  # Blog
------------------------------------------------------------------------------------------------- */
.dafeOfPost {
    font-family: $h1-font !important;
    font-weight: 700 !important;
}
