/* -------------------------------------------------------------------------------------------------
  # Global Styles
------------------------------------------------------------------------------------------------- */
html,
body {
    width: 100%;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    font-family: $font !important;
    font-weight: 300;
    font-size: 16px !important;
    overflow-x: hidden;
}

main {
    flex: 1 0 auto;
    position: relative;
}

a,
a:hover,
a:focus,
img {
    text-decoration: none !important;
    outline: none;
    color: $tathata-red;
}

*:focus {
    outline: none !important;
}

header {
    background: $black;
    position: relative;
    z-index: 9;
}

.contentWrapper {
    flex: 1 0 auto;
    position: relative;
}
