/* -------------------------------------------------------------------------------------------------
  # Typography
------------------------------------------------------------------------------------------------- */
// Paragraphs
// --------------------------------------------------------------
p {
    font-family: $p-font;
    font-size: $p-font-size;
    font-weight: $p-font-weight;
    line-height: $p-line-height;
    margin: 0 0 10px;
}

// Page Titles
// --------------------------------------------------------------
.page-title {
    @extend %page-title;
}

// Misc.
// --------------------------------------------------------------
.fine-print {
    font-size: 11px;
    font-weight: 300;
    font-style: italic;
}
