/* -------------------------------------------------------------------------------------------------
  # OA Video
------------------------------------------------------------------------------------------------- */
section.single-oa-video {
    padding-bottom: 60px;

    h1 {
        text-align: center;
        font-family: $font;
        text-transform: uppercase;
        color: $tathata-red;
        margin-bottom: 20px;
    }
}

.single-oa-video-back {
    display: block;
    text-align: center;
    margin: 40px 0 0;
    color: $tathata-red;
    transition: all 0.3s ease;

    &:hover {
        color: $tathata-green;
    }
}
