/*
 * SimpleModal Basic Modal Dialog
 * http://simplemodal.com
 *
 * Copyright (c) 2013 Eric Martin - http://ericmmartin.com
 *
 * Licensed under the MIT license:
 *   http://www.opensource.org/licenses/mit-license.php
 */

#basic-modal-content {
  display: none;
}

/* Overlay */
#simplemodal-overlay {
  background-color: #000;
}

/* Container */
#simplemodal-container {
  height: 360px;
  width: 600px;
  color: #bbb;
  background-color: #333;
  border: 4px solid #444;
  padding: 12px;
}

#simplemodal-container .simplemodal-data {
  padding: 8px;
}

#simplemodal-container code {
  background: #141414;
  border-left: 3px solid #65b43d;
  color: #bbb;
  display: block;
  font-size: 12px;
  margin-bottom: 12px;
  padding: 4px 6px 6px;
}

#simplemodal-container a {
  color: #ddd;
}

#simplemodal-container a.modalCloseImg {
  background: url(../img/basic/x.png) no-repeat;
  width: 25px;
  height: 29px;
  display: inline;
  z-index: 3200;
  position: absolute;
  top: -15px;
  right: -16px;
  cursor: pointer;
}

#simplemodal-container h3 {
  color: #84b8d9;
}
