/*----------------------------------------------------------------------------
  Landing Page
----------------------------------------------------------------------------*/
body {
  font-family: $font;
  font-size: 14px;
}

#main > section.GolfschoolConsumerWrap > img {
  max-width: 100%;
  margin-bottom: 0;
}

#custom2-rev-slider > div > h2 {
  display: none;
}

div.entry-content > p {
  line-height: 25px;
  margin-bottom: 20px;
  font-family: $font;
  font-size: 14px;
  color: #666;
  text-align: justify;
}

.container {
  max-width: 1100px;
}

#landing-sidebar > div > div > p:nth-child(2) {
  padding: 5rem 12rem 5rem 0;
}

#main-content > section.golfSchoolConsumer > div > div {
  bottom: 30rem;
}

.captionWrap {
  padding: 4rem 0;
}

/*   this background was added so that if the css caused a split in the sections,
 *   the gap would have a background, and perhaps look intentional.
 */
body {
  background: url('http://tathata.dev/wp-content/uploads/2015/06/mainBg.png') no-repeat fixed top center;
}

#custom2-rev-slider > div > div > img,
#main-content > section:nth-child(1) > div > img {
  max-width: 100%;
}

#black-box > div > h2 {
  text-align: left;
  color: #fff;
  padding: 0 3rem;
}

#black-box > div > div, #black-box > div > div > p {
  color: #ccc;
  font-size: 14px;
  padding: 1rem 0;
  font-family: $font;
  line-height: 21px;
}

.chapterlinkContentWrap:before, .chapterlinkContentWrap {
  background: #fff;
}

#landing-slider > div > img {
  margin: 0;
}

#red-box {
  width: 66%;
}

#red-box > div > h2 {
  text-align: right;
  color: #fff;
  padding: 0 3rem;
}

#main > section.golfSchoolConcept.pageInnerContentWrap > div {
  width: 75%;
  padding: 5rem 0;
}

#primary {
  width: 50%;
  float: left;
  padding: 2rem 7rem;
}

#secondary {
  width: 50%;
  float: left;
  padding: 2rem 7rem;
}

#landing-sidebar > div > div > p:nth-child(2) {
  padding: 5rem 12rem 5rem 0;
  line-height: 1.75;
}

#theLoop {
  background-color: #fff;
}

.GolfprofileThumbnailWrap .golfpro {
  background: rgba(0, 0, 0, 0.8);
  min-height: 45rem;
}

.golfSchoolConcept {
  background: #ececec;
  min-height: 45rem;
}

.GolfschoolConsumerWrap {
  margin-bottom: 0 !important;
}

.GolfprofileThumbnailWrap {
  height: auto;
  padding: 3rem 0;
}

.text-container-top {
  position: absolute;
  width: 100%;
  top: 20rem;
}

.text-container {
  position: absolute;
  bottom: 7rem;
  width: 100%;
}

.banner-text-one {
  width: 44%;
  margin: 0 auto;
}

.banner-text-one h2 {
  font-family: $font;
  font-weight: 300;
  font-size: 24px;
  color: #fff;
  font-style: italic;
  line-height: 30px;
  text-shadow: 2px 2px #333;
}

.banner-text-one p {
  font-family: $font;
  font-size: 13px;
  color: #000;
  text-shadow: 1px 1px #333;
}

.golfpro > div > h2 {
  font-size: 16px;
  color: #fff;
  line-height: 40px;
  margin: 6px 0 0;
  padding: 0 0 3rem;
  text-align: center;
}

.school > div > div {
  font-family: $font;
  font-size: 14px;
  color: #666;
  text-align: justify;
  line-height: 25px;
}

.school > div > div > ul > li {
  list-style: none;
}

div.advcustomvalue {
  font-family: $font;
  font-size: 14px;
  color: #666;
  text-align: justify;
  line-height: 25px;
}

.golfpro > div > div > p {
  color: #fff;
  padding: 2rem;
  font-size: 13px;
  line-height: 22px;
  text-align: justify;
}

.golfpro div.gform_footer.top_label {
  text-align: center;
}

#golfpro-l > div > div > div:nth-child(2) > img {
  max-width: 99%;
}

#main > section.GolfprofileThumbnailWrap > div > div {
  margin: 5rem 0;
}

.testimonial-slider {
  padding: 1rem;
}

.supportAffiliationWrap {
  background-color: #fff;
}

#consumer-wrap > div:nth-child(1) > div > p:nth-child(2) {
  position: absolute;
  font-size: 2.3rem;
  color: white;
  left: 30%;
  bottom: 30%;
}

.golfSchoolwhat h2 {
  font-size: 21px;
  padding: 0 20px;
  line-height: 1.3;
  font-family: $font;
  font-weight: 300;
}

.golfpro > div > div {
  color: #fff;
  padding: 1rem;
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=image],
.gform_wrapper .gform_footer input[type=submit] {
  background: #600 url('img/LinkBtnBgRight.png') no-repeat right center;
  padding: 9px 50px 9px 50px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  border: none;
}

.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {
  width: 97.5%;
  background-color: #aaa;
}

#input_5_1_3, #input_5_1_6 {
  background-color: #aaa;
}

#label_5_3_1 {
  color: #600;
}

/*----------------------------------------------------------------------------
  Tabs
----------------------------------------------------------------------------*/

.tabs-wrapper {
  background: white;
  margin: auto;
  padding: 1em;
  width: 75%;
}

h1 {
  text-align: center;
}

ul.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.tabs li {
  border: gray solid 1px;
  border-bottom: none;
  float: left;
  margin: 0 .25em 0 0;
  padding: .25em .5em;
}

ul.tabs li a {
  color: gray;
  font-weight: bold;
  text-decoration: none;
}

ul.tabs li.active {
  background: gray;
}

ul.tabs li.active a {
  color: white;
}

.clr {
  clear: both;
}

div.tab {
  border-top: gray solid 1px;
  padding: 0 1em;
}
