/*----------------------------------------------------------------------------
  Responsive Landing Page
----------------------------------------------------------------------------*/
.GolfprofileThumbnailWrap {
  background: url('http://dev.tathata.com/tathatagolf/wp-content/uploads/sites/5/2015/06/inside-lg.png');
}

@media screen and (min-width: 1369px) {

  #content-area {
    background-color: #fff;
    min-height: 82rem;
    padding: 8rem 12rem;
  }

  #black-box {
    width: 66%;
  }
}

@media screen and (max-width: 1368px) {

  .banner-text-one {
    width: 50%;
  }

  #content-area {
    background-color: #fff;
    min-height: 40rem;
    padding: 1rem 2rem;
  }

  .text-container {
    bottom: 1rem;
  }

  #black-box > div > div, #black-box > div > div > p {
    width: 85%;
  }

  #main > section.GolfprofileThumbnailWrap > div > div {
    margin: 3rem 0;
  }
}

@media (min-width: 769px) and (max-width: 1048px) {
}

@media (max-width: 768px) {
  .banner-text-one {
    width: 85%;
  }

  .banner-text-one h2 {
    font-size: 18px;
    line-height: 24px;
    text-shadow: 1px 1px #333;
  }

  #main-content > section.golfSchoolConsumer > div.custom-rev-slider > img {
    display: none;
  }

  #main-content > section.golfSchoolConsumer > div.custom-rev-slider {
    background: url('http://dev.tathata.com/wp-content/uploads/sites/5/2015/06/inside-9x6.png');
  }

  .text-container-top {
    top: 10rem;
  }

  #red-box {
    width: 90%;
    margin-left: 2rem;
  }

  #primary, #secondary {
    width: 90%;
    padding: 2rem;
  }

  .GolfprofileThumbnailWrap {
    background: url('http://dev.tathata.com/tathatagolf/wp-content/uploads/sites/5/2015/06/inside-lg.png');
  }
}
