/*----------------------------------------------------------------------------
  SMK Accordion
----------------------------------------------------------------------------*/

.smk_accordion {
  position: relative;
  padding: 0;
  list-style: none;
  margin: 0 0 20px;
}

/**
 * --------------------------------------------------------------
 * Section
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in {
  position: relative;
  z-index: 10;
  margin-top: -1px;
  overflow: hidden;
  margin-bottom: 20px;
}

/**
 * --------------------------------------------------------------
 * Head
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in .acc_head {
  position: relative;
  background: #fdfdfd;
  font-size: 14px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding-left: 50px;
}

.smk_accordion .accordion_in .acc_head .acc_icon_expand {
  display: block;
  width: 29px;
  height: 29px;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  background: url('../img/plusminus.png') center -29px;
}

/**
 * --------------------------------------------------------------
 * Content
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in .acc_content {
  background: #f9f9f9;
  color: #7b7e85;
  padding: 3px 10px;
}

.smk_accordion .accordion_in .acc_content h1:first-of-type,
.smk_accordion .accordion_in .acc_content h2:first-of-type,
.smk_accordion .accordion_in .acc_content h3:first-of-type,
.smk_accordion .accordion_in .acc_content h4:first-of-type,
.smk_accordion .accordion_in .acc_content h5:first-of-type,
.smk_accordion .accordion_in .acc_content h6:first-of-type {
  margin-top: 5px;
}

/**
 * --------------------------------------------------------------
 * General
 * --------------------------------------------------------------
 */
.smk_accordion .accordion_in:first-of-type,
.smk_accordion .accordion_in:first-of-type .acc_head {
  border-radius: 3px 3px 0 0;
}

.smk_accordion .accordion_in:last-of-type,
.smk_accordion .accordion_in:last-of-type .acc_content {
  border-radius: 0 0 3px 3px;
}

.smk_accordion .accordion_in.acc_active > .acc_content {
  display: block;
}

.smk_accordion .accordion_in.acc_active > .acc_head {
  background: #f9f9f9;
}

.smk_accordion .accordion_in.acc_active > .acc_head .acc_icon_expand {
  background: url('../img/plusminus.png') center top;
}

.acc_active .welcomeToHeading {
  margin-bottom: 20px
}

.welcomeToHeading.acc_head li, .welcomeToHeading.acc_head li span {
  color: #999
}

.acc_active .welcomeToHeading.acc_head li {
  color: #000
}

.acc_active .welcomeToHeading.acc_head li span {
  color: #900
}
