/* -------------------------------------------------------------------------------------------------
  # Additional Support
------------------------------------------------------------------------------------------------- */
#additional-support {
    padding: 20px 0;

    img:not(.img-responsive) {
        display: block;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    /* --------------------------------------------------------------
      ## Intro Content
    -------------------------------------------------------------- */
    .as-intro {
        font-size: 16px;
        margin-bottom: 40px;
        text-align: center;

        p {
            margin-bottom: 1.5em;
        }

        img {
            margin: 0 auto;
        }
    }

    /* --------------------------------------------------------------
      ## Cards
    -------------------------------------------------------------- */
    span {
        color: $tathata-red;
    }

    li {
        font-size: 16px;
        list-style: initial;
    }

    .card-title {
        h4 {
            margin-top: 10px;
            font-weight: 300;
        }
    }
}
