/* -------------------------------------------------------------------------------------------------
  # Support & Affiliations
------------------------------------------------------------------------------------------------- */
#affiliations {
    font-size: 16px;
    background-color: $white;
    padding: 15px;
    border-top: 1px solid rgb(234, 234, 234);

    h3 {
        margin: 0;
        font: 600 10px $font;
        text-align: center;
        text-transform: uppercase;
        color: rgb(169, 169, 169);
    }

    .tg-affiliations {
        margin-top: 10px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        @media screen and (min-width: 768px) {
            margin-top: -10px;
        }

        li {
            list-style: none;
            width: 33%;
            padding: 0 1em 0.5em;
            display: flex;
            justify-content: center;
            align-items: center;

            @media screen and (min-width: 425px) {
                width: auto;
            }

            @media screen and (min-width: 768px) {
                padding: 0 1em;
                width: auto;
            }
        }

        img {
            width: 100px; // For Firefox
            max-width: 100%;
            height: auto;
        }
    }
}
