/* -------------------------------------------------------------------------------------------------
  # Banner
------------------------------------------------------------------------------------------------- */
#page-banner {
    padding: 3rem 0;
    min-height: 125px;
    display: flex;
    align-items: center;

    .page-title {
        margin: 0;
        padding: 0;
        font: 700 1.25em $font;
        color: $white;
        text-transform: uppercase;
        text-shadow: 7px 3px 15px $black;
    }
}
