/* -------------------------------------------------------------------------------------------------
  # Breadcrumbs
------------------------------------------------------------------------------------------------- */
#breadcrumbs {
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        padding: 30px 0;
        margin: 0;
    }

    .flex {
        height: 50px;
        display: flex;
        align-items: center;

        &.-flex-end {
            justify-content: flex-end;
        }

        &.-flex-start {
            justify-content: flex-start;
        }
    }

    .shareUs.pull-right {
        margin: 0;
        padding: 0;
        float: none !important;
    }

    > .visible-xs {
        .flex {
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            padding: 20px 0;
            min-height: 100px;

            div:nth-child(1) {
                margin-bottom: 10px;
            }
        }
    }
}

.breadcrumb {
    margin: 0;
    padding: 0;

    li,
    a {
        font-size: 12px;
        font-family: $font;
        font-weight: 300;
    }
}

.follow-tathata {
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin: 0 1px;
        list-style: none;
        line-height: 1.8;
        font-size: 12px;
        color: rgb(102, 102, 102);
        text-transform: uppercase;

        &:nth-child(1) {
            margin: 0 5px 0 0;
        }

        a {
            display: block;
            background: rgb(221, 221, 221);
            color: rgb(255, 255, 255);
            text-align: center;
            font-size: 14px;
            width: 24px;
            height: 24px;

            &:hover {
                background: rgb(51, 51, 51);
                transition: all 0.3s ease-in;
            }
        }
    }
}

/* --------------------------------------------------------------
  ## BuddyPress Breadcrumbs
-------------------------------------------------------------- */
div.bbp-breadcrumb {
    float: none;

    a,
    .bbp-breadcrumb-sep,
    .bbp-breadcrumb-current {
        font-size: 12px;
        font-family: $font;
        font-weight: 300;
        line-height: 17px;
        color: rgb(153, 153, 153);
    }

    a {
        border-bottom: 1px solid rgb(204, 204, 204);
    }
}
