/* -------------------------------------------------------------------------------------------------
  # Footer
------------------------------------------------------------------------------------------------- */
.footer {
    p {
        color: rgba($white, 0.7);
        font-size: 14px;
        margin-bottom: 1em;
        font-family: $font;
        font-weight: 300;

        @media screen and (max-width: 992px) {
            text-align: center;
        }
    }

    .img-responsive {
        margin: 0 auto;
    }

    h4.footer-title {
        font-size: 14px;
    }

    .-bordered {
        @media screen and (min-width: 992px) {
            border-left: 1px solid rgba($white, 0.1);
            border-right: 1px solid rgba($white, 0.1);
        }
    }

    .tg-btn {
        width: 75%;
        margin: 0 auto 20px;

        @media screen and (max-width: 992px) {
            width: 55%;
        }
    }

    .tg-footer-top {
        background-color: rgb(19, 19, 19);
        padding: 20px 0;

        .menu {
            margin: 0;
            padding: 0;
            display: flex;
            flex-flow: row wrap;

            li {
                list-style-type: none;
                flex: 1 50%;

                a {
                    padding: 0.5em;
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: rgba($white, 0.7);
                    font-family: $font;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 1.5;

                    &:hover {
                        background-color: $red;
                        transition: all 0.2s ease-in-out;
                    }
                }
            }
        }
    }

    .tg-social-shares {
        text-align: center;

        a {
            color: $tathata-red;
        }

        .fa {
            font-size: 24px;
            margin: 0 5px;

            &.fa-facebook {
                margin-left: 0;
            }

            &:hover {
                color: rgba($white, 0.7);
                transition: all 0.2s ease-in-out;
            }
        }
    }

    .tg-footer-bottom {
        background-color: $black;
        padding: 20px 0;

        p {
            font-size: 12px;
            line-height: 1.5;
        }

        .footer-logo {
            display: none;
            width: 23px;
            height: 16px;
            background: url(../img/footer-logo.png) center center/contain no-repeat;

            @media screen and (min-width: 768px) {
                display: inline-block;
            }
        }

        .copyright {
            font-size: 12px;
            margin: 0 5px;
            text-align: center;

            @media screen and (min-width: 768px) {
                display: inline;
                text-align: initial;
            }
        }

        .legal-info {
            color: rgba($white, 0.7);
            display: block;
            text-align: center;

            @media screen and (min-width: 768px) {
                display: inline;
                text-align: initial;
            }

            a {
                font-size: 12px;
                font-family: $font;
                color: $tathata-red;

                &:hover {
                    color: $red;
                    transition: all 0.3s ease;
                }
            }
        }

        .image-permission {
            margin-bottom: 0;
            text-align: center;

            @media screen and (min-width: 768px) {
                text-align: initial;
            }
        }
    }
}

.footer-title {
    font-family: $font;
    font-weight: 300;
    font-size: 16px;
    color: rgba($white, 0.7);
    line-height: 1.5;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;

    @media screen and (min-width: 768px) {
        margin-top: 0;
    }
}

.tg-btn.-donate {
    background-color: $tathata-yellow;

    &:hover {
        background-color: lighten($tathata-yellow, 10%);
    }
}
