/* -------------------------------------------------------------------------------------------------
  # Free Videos
------------------------------------------------------------------------------------------------- */
.free-videos {
    padding: 40px 0;

    ._content {
        text-align: center;

        h1 {
            margin: 0 0 20px;
            font-family: $h1-font;
            font-weight: 700;
        }

        h2 {
            margin-bottom: 40px;
            color: $tathata-red;
            font-family: $h2-font;
            font-weight: 700;
        }
    }

    h3,
    h4 {
        font-weight: 700;
        font-family: $font;
    }

    hr:last-of-type {
        display: none;
    }
}
