/* -------------------------------------------------------------------------------------------------
  # Header
------------------------------------------------------------------------------------------------- */
.header-wrap {
    min-height: 65px;
}

@media screen and (max-width: 767px) {
    #navbar {
        padding: 0 25px;
    }
}

#primary-header {
    z-index: 999; // so the gift card pop up stays below
    border-bottom: 2px solid $tathata-red;

    // here to uphold default Bootstrap styles for now
    .input-group {
        border: none;

        .form-control {
            position: relative;
            z-index: 2;
            float: left;
            width: 100%;
            margin-bottom: 0;
            font-family: $font;
        }
    }
}

/* --------------------------------------------------------------
  ## Header - top
-------------------------------------------------------------- */
// Logo
.header-logo {
    margin: 15px 0 0;

    a {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 34px;
        background: url("../img/logo/tathata-certified-logo5.svg") center center/contain no-repeat;

        @media screen and (min-width: 992px) {
            margin-left: 0;
        }
    }

    @media screen and (min-width: 992px) {
        margin: 17px 0;
    }
}

// User login/logout links
.user-status {
    text-align: center;

    a {
        display: inline-block;
        padding: 15px;
        color: $red;
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: 700;
        font-family: $font;
        font-size: 12px;

        @media screen and (min-width: 992px) {
            padding: 20px 10px;
        }

        &:hover {
            color: $white;
            transition: all 0.3s ease;
        }
    }

    @media screen and (min-width: 992px) {
        text-align: right;
    }
}

.user-welcome {

    &::after {
        content: '!';
        font-weight: 700;
    }
}

.user-logout {
    color: $red;
}

/* --------------------------------------------------------------
  ## Header - bottom
-------------------------------------------------------------- */
// Navbar
.navbar {
    margin-bottom: 0;
    min-height: initial;

    .current_page_item {
        background-color: $tathata-red;

        a {
            color: $white;
        }

        &:hover {
            background-color: $tathata-red;
        }
    }

    /* --------------------------------------------------------------
      ## Sub Menu
    -------------------------------------------------------------- */
    .sub-menu {
        display: none;
        position: absolute;
        padding: 0;
        margin: 0;
        top: 0;
        left: 100%;
        min-width: 200px;
        width: 100%;
        list-style: none;
        box-shadow: none;

        @media screen and (min-width: 992px) {
            top: 100%;
            left: -2px;
            width: auto;
            border: 1px solid rgba($black, 0.15);
        }

        li {
            display: block;
            background-color: $gray;
            width: 100%;

            @media screen and (min-width: 992px) {
                position: relative;
            }

            &:hover {
                background-color: $tathata-red;
            }

            a {
                display: block;
                padding: 10px 15px;
                border-bottom: 1px solid rgb(30, 30, 30);
                color: $white;
                text-transform: uppercase;
                white-space: nowrap;
                text-shadow: 2px 1px 4px $black;

                @media screen and (min-width: 992px) {
                    padding: 5px 15px;
                }
            }
        }
    }

    // Show the sub-menu on hover on desktop
    @media screen and (min-width: 992px) {
        .menu > li.menu-item-has-children:hover > ul {
            display: block;
        }
    }

    // Third level sub-menu
    .menu > li > ul > li > ul {
        display: none;
        top: -1px;
        left: 99%;
    }

    @media screen and (min-width: 992px) {
        .menu > li > ul > li.menu-item-has-children:hover > ul {
            display: block;
        }
    }
}

// Change the default Navbar-inverse color
.navbar-inverse {
    background-color: $gray;
    border: none;
}

.navbar-collapse {
    border: none;
    box-shadow: none;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    background: $tathata-red;
    color: $white !important;
}

// The WooCommerce cart nav item
li.wpmenucartli {
    a.wpmenucart-contents {
        span {
            display: inline-block !important;
            color: $red;
        }

        &:hover {
            span {
                color: $white;
            }
        }
    }
}

/* --------------------------------------------------------------
  ## Misc.
-------------------------------------------------------------- */
// Hide desktop nav on mobile
#desktop-nav {
    @media screen and (max-width: 992px) {
        display: none !important;
    }

    min-height: 40px;

    .navbar {
        margin-bottom: 0;
        min-height: initial;

        .current_page_item {
            background-color: $tathata-red;

            a {
                color: $white;
            }

            &:hover {
                background-color: $tathata-red;
            }
        }
    }

    @media screen and (min-width: 992px) {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .menu {
        float: left;
        margin: 0;
        padding: 0;

        li {
            display: block;
            float: left;
            position: relative;
        }

        a {
            text-transform: uppercase;
            padding: 10px 13px;
            color: rgb(212, 212, 212);
            text-shadow: 2px 1px 4px $black;
            position: relative;
            display: block;
            height: 40px;
            font-family: $font;
            font-size: 12px;

            &:hover {
                background-color: $tathata-red;
                text-decoration: none;
            }
        }
    }

    .sub-menu {
        display: none;
        position: absolute;
        padding: 0;
        margin: 0;
        top: 0;
        left: 100%;
        min-width: 200px;
        width: 100%;
        list-style: none;
        border: 1px solid rgba($black, 0.15);
        box-shadow: none;

        @media screen and (min-width: 992px) {
            top: 98%;
            left: -2px;
            width: auto;
        }

        li {
            display: block;
            background-color: $gray;
            width: 100%;

            @media screen and (min-width: 992px) {
                position: relative;
            }

            &:hover {
                background-color: $tathata-red;
            }

            a {
                display: block;
                padding: 10px 15px;
                border-bottom: 1px solid rgb(30, 30, 30);
                color: $white;
                text-transform: uppercase;
                white-space: nowrap;
                text-shadow: 2px 1px 4px $black;
                height: auto;

                @media screen and (min-width: 992px) {
                    padding: 5px 15px;
                }
            }
        }
    }

    // Show the sub-menu on hover on desktop
    @media screen and (min-width: 992px) {
        .menu > li.menu-item-has-children:hover > ul {
            display: block;
        }
    }

    // Third level sub-menu
    .menu > li > ul > li > ul {
        display: none;
        top: -1px;
        left: 99%;
    }

    @media screen and (min-width: 992px) {
        .menu > li > ul > li.menu-item-has-children:hover > ul {
            display: block;
        }
    }
}

// Hide mobile nav on desktop
#mobile-nav {
    @media screen and (min-width: 992px) {
        display: none !important;
    }
}

// Add supporting text for the hamburger icon
.menu-text {
    display: inline-block;
    margin: 15px 0;
    color: rgb(204, 204, 204);
    text-transform: uppercase;
    font-size: 14px;

    @media screen and (min-width: 992px) {
        display: none;
    }
}

// Change the position of the hamburger icon
.navbar-toggle {
    float: left;

    &.collapsed {
        float: left;
    }
}

// Hide cloned menu items except the last one
.sub-menu {
    li.moved-item {
        display: none;
    }

    li.moved-item:last-of-type {
        display: block;

        a::after {
            content: none; // remove the arrow
        }
    }
}

// Change the color of the back button
.back {
    color: $white !important;
}

// Adjust the shopping cart item on mobile
@media screen and (max-width: 992px) {
    .wpmenucart-display-right {
        float: left !important;
        width: 100%;
    }
}

// Change the color of the hamburger icon
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: rgb(204, 204, 204);
}
