/*--------------------------------------------------------------------------------------------------
  Affiliates & Partners
--------------------------------------------------------------------------------------------------*/

.supportAffiliationWrap {
    background-color: #fff;
}

.supportAffiliationWrap ul li {
    float: none;
    margin: 10px 0;
}

.supportAffiliationWrap ul {
    text-align: center;
}

.supportAffiliationWrap ul {
    margin: 0 0 15px;
    padding: 0;
    text-align: center;
}

.supportAffiliationWrap ul li {
    list-style: none;
    display: inline-block;
    width: auto;
    text-align: center;
    overflow: hidden;
}

.supportAffiliationWrap ul li img {
    max-width: 120px;
    height: auto;
}

.supportAffiliationWrap ul li a {
    margin: 0 10px;
    display: inline-block;
}

.supportAffiliationWrap h5 {
    font-family: "OpenSansSemibold", Helvetica, Verdana, sans-serif;
    font-size: 10px;
    margin: 0;
    color: #999;
    text-transform: uppercase;
}

.supportAffiliationWrap h5 {
    text-align: center;
}

section.supportAffiliationWrap {
    padding: 13px 0;
}
