/* -------------------------------------------------------------------------------------------------
  # Pop Up Ads
------------------------------------------------------------------------------------------------- */
#pop-up {
    position: fixed;
    bottom: 0;
    right: 2%;
    display: none;
    z-index: 1001;
}

.pop-up-close {
    text-align: right;
    color: white;
    padding: 5px;
    cursor: pointer;
    text-shadow: 0 0 10px $black;
}
