/* -------------------------------------------------------------------------------------------------
  # Testimonial Slider
------------------------------------------------------------------------------------------------- */
#testimonial-slickslider--desktop,
#testimonial-slickslider--mobile {
    margin: 0;
    padding: 2em 0;
    min-height: 300px;
    background: rgb(35, 30, 26);
    color: rgb(197, 178, 145);

    @media screen and (min-width: 768px) {
        padding: 1.75em 0;
    }

    /* --------------------------------------------------------------
      ## Misc.
    -------------------------------------------------------------- */
    .slick-list {
        margin-bottom: 10px;
    }

    .slick-dots {
        bottom: -20px;

        @media screen and (min-width: 768px) {
            bottom: -35px;
        }
    }

    .slick-prev {
        left: -20px;
        opacity: 0.5;
    }

    .slick-next {
        right: -20px;
        opacity: 0.5;
    }

    img {
        width: 125px;
        height: 125px;
        margin: 0 auto;
    }
}

.ts-title {
    margin: 10px 0;
    font-family: $font;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    opacity: 0.5;
}

.testimonial-slide {
    padding: 10px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 992px) {
        flex-direction: row;
    }
}

.ts-info {
    flex: 1 auto;
    max-width: 145px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    #testimonial-slickslider--desktop & {
        align-self: center;

        @media screen and (min-width: 992px) {
            align-self: flex-start;
        }
    }

    #testimonial-slickslider--mobile & {
        align-self: center;
    }

    img {
        margin-bottom: 10px;
    }

    .ts-source {
        padding: 5px 0;
        font-weight: 700;
        font-size: 18px;
        line-height: 1;
        font-family: $p-font;
        color: $white;

        span {
            color: $red;
        }
    }

    .ts-source--meta {
        font: italic $p-font-weight 1.25em/$p-line-height $p-font;
        color: rgb(197, 178, 145);
    }
}

.ts-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @media screen and (min-width: 992px) {
        text-align: initial;
    }

    blockquote {
        border: none;
        margin: 0;
        font: italic 16px/1.25 $p-font;
        text-align: center;
    }
}
