/* -------------------------------------------------------------------------------------------------
  # CSS Hacks
------------------------------------------------------------------------------------------------- */
// Hide the arrow marker on the default <details> element
details {
    &::-webkit-details-marker {
        display: none;
    }

    summary::-webkit-details-marker {
        display: none;
    }
}

// Hide the innermost Slick Slider buttons in the slides on the new Become an MS Page
#msInfoSliders {
    @media screen and (min-width: 992px) {
        .ms-half:first-of-type {
            .slick-next.slick-arrow {
                display: none !important;
            }
        }

        .ms-half:last-of-type {
            .slick-prev.slick-arrow {
                display: none !important;
            }
        }
    }
}

// Stop the beacon tracking images from causing an empty space from displaying on the page
.beacon {
    position: absolute;
    left: -9999px;
}

// Stop break word inheritance
.support-video {
    word-wrap: normal;
}

// Hide the random empty tabs on quiz pages
.single-quiz {
    .tabSectionWrap {
        display: none;
    }
}

// Keep the video menu anchors white
#menu-video-menu {
    a.clicked {
        color: $white;
    }
}

// Reset the Bootstrap container to its initial value
.tathata-online,
.tathata-headquarters {
    .container {
        max-width: initial;
    }
}

// Restore a container to its original Bootstrap widths
.container-reset,
.row-reset {
    max-width: initial !important;
}

.row-reset {
    margin: initial !important;
}

// Hide the new list of action items in the Dashboard
.woocommerce-MyAccount-navigation {
    display: none;
}

// Hide the default next lesson button
.next-lesson {
    display: none !important;
}

// Change the default quiz button color
.quiz input.quiz-submit.complete,
.lesson input.quiz-submit.complete {
    background: $dark-red;
    transition: all 0.35s ease;
    width: 200px;
    height: 40px;
    font-size: 14px;

    &:hover {
        background: $tathata-green;
    }
}

// Hide the random empty paragraph tag on the dashboard page
.user-profile > p {
    display: none;
}

// Single lesson alerts
.ui-dialog {
    top: 20% !important;
    left: 50% !important;
    transform: translateX(-50%);
    z-index: 999 !important;
    max-width: 90vw !important;
    background: $black;

    .ui-dialog-content {
        p {
            text-align: left;
        }
    }
}

// Close button in test alerts
.single-quiz .ui-dialog-titlebar-close {
    height: 30px !important;
    top: 50% !important;
    width: 25px !important;
}

// Add the underline to anchors in the Sensei message
.sensei p.sensei-message.info a,
.sensei div.sensei-message.info a,
.course-container p.sensei-message.info a,
.course-container div.sensei-message.info a,
.course p.sensei-message.info a,
.course div.sensei-message.info a,
.lesson p.sensei-message.info a,
.lesson div.sensei-message.info a,
.quiz p.sensei-message.info a,
.quiz div.sensei-message.info a,
.learner-info p.sensei-message.info a,
.learner-info div.sensei-message.info a {
    text-decoration: underline !important;
}

// hide the register option from the password recovery page
.page-template-default ul.tml-action-links li:nth-child(2) {
    display: none;
}

// hide the shopping cart from the menu
#wpmenucartli {
    display: none !important;
}

// Hide the Digital Gift Card button
.gear-col {
    > .gearPart ~ .button {
        display: none;
    }
}
