/* -------------------------------------------------------------------------------------------------
  # Modifier Classes
------------------------------------------------------------------------------------------------- */
// Make something full-width
.-full-width {
    width: 100%;
}

// Add some padding to the top
.-padding-top {
    padding-top: 0.5em;
}

// Add padding to the top and bottom of something
.-padded-v {
    padding: 2.5em 0;
}

// Add padding to the left and right of something
.-padded-h {
    padding: 0 1.5em;
}

// Round the corners
.-rounded {
    border-radius: 10px;
}

// Make a headline title
.-headline {
    font-size: 44px;
    font-family: $h1-font;
    font-weight: 700;
}

// Make something uppercase
.-uppercase {
    text-transform: uppercase;
}

// Create a light variation of something
.-light {
    background-color: rgba($white, 1) !important;
    color: $black;
}

// Create a dark variation of something
.-dark {
    background-color: rgba($black, 0.85);
    color: rgba($white, 0.8);
}

// Class for the matchHeight plug-in to target
.-mh {
    img {
        margin: 0 auto;
    }
}
