// Placeholders
// --------------------------------------------------------------
// stylelint-disable

%-title {
    color: $white;
    text-transform: uppercase;
    font-size: 16px;
    font-family: $p-font;
}

%section-title {
    padding: $h1-padding;
    font-family: $h1-font;
    font-size: 1.25em;
    line-height: $h1-line-height;
    font-weight: $h1-font-weight;
    text-align: center;

    span {
        color: $tathata-red;
    }
}

%page-title {
    font-family: $font-header;
    font-size: 2.85em;
    font-weight: 700;
    line-height: 1.25;
    padding: 0;
    margin: 0 0 1.5rem;

    span {
        color: $tathata-red;
    }
}

%button {
    font-family: $font;
    font-weight: $tg-btn-font-weight;
    color: $white;
    line-height: 1.5;
    font-style: normal;
    margin: 0 auto;
    padding: .5rem 1rem;
    display: block;
    max-width: 75%;
    border-radius: 50px;
    background-color: $tathata-red;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    transition: all 0.3s ease-out;

    @media screen and (min-width: 365px) {
        max-width: 45%;
    }

    @media screen and (min-width: 540px) {
        max-width: 40%;
    }

    @media screen and (min-width: 992px) {
        margin: 0;
    }

    &:hover {
        background-color: $tathata-green;
        color: $white;
    }
}

%buynow-button {
    font-family: $font;
    font-weight: $tg-btn-font-weight;
    color: $white;
    line-height: 1.5;
    font-style: normal;
    padding: .5rem 3rem;
    display: inline-block;
    border-radius: 50px;
    background-color: $tathata-red;
    text-transform: uppercase;
    font-size: 1em;
    text-align: center;
    transition: all 0.3s ease-out;

    &:hover {
        background-color: $tathata-green;
        color: $white;
    }
}
