// stylelint-disable

// Colors
// --------------------------------------------------------------
$white: rgb(255, 255, 255) !default;
$bright-red: rgb(206, 23, 49) !default;
$red: rgb(204, 0, 0) !default;
$dark-red: rgb(102, 0, 0) !default;
$light-green: rgb(39, 184, 16) !default;
$green: rgb(57, 151, 52) !default;
$light-gray: rgb(51, 51, 51) !default;
$gray: rgb(46, 46, 46) !default;
$dark-gray: rgb(35, 31, 32) !default;
$black: rgb(0, 0, 0) !default;

$body-background: rgb(253, 253, 253);

$tathata-yellow: rgb(255, 179, 0) !default;
$tathata-red: rgb(153, 0, 0) !default;
$tathata-green: rgb(28, 155, 28) !default;

// Fonts
// --------------------------------------------------------------
$font: ('Open Sans', Helvetica, Verdana, sans-serif) !default;
$font-header: ('Open Sans Condensed', Helvetica, Verdana, sans-serif) !default;

// Typography
// --------------------------------------------------------------
$h1-font: $font-header !default;
$h1-font-size: 2.5em !default;
$h1-font-weight: 700 !default;
$h1-line-height: 1.25 !default;
$h1-padding: 25px 0 !default;

$h2-font: $h1-font !default;
$h2-font-size: 1.875em !default;
$h2-font-weight: 700 !default;
$h2-line-height: 1 !default;
$h2-padding: 15px 0 !default;

$p-font: $font !default;
$p-font-size: 16px !default;
$p-font-weight: 400 !default;
$p-line-height: 1.5 !default;
$p-padding: 0 0 20px 0 !default;

// Buttons
// --------------------------------------------------------------
$tg-btn-font: $h1-font !default;
$tg-btn-font-size: 1.15em !default;
$tg-btn-font-weight: 400 !default;
$tg-btn-line-height: 1 !default;
$tg-btn-padding: 10px 20px !default;
