/* -------------------------------------------------------------------------------------------------
  # IE 8 and below
------------------------------------------------------------------------------------------------- */
textarea {
    border: 1px solid rgb(229, 229, 229);
    vertical-align: middle;
    &:focus {
        border: 1px solid rgb(178, 178, 178);
    }
}

hr {
    background-color: rgb(229, 229, 229);
}

.site-title {
    max-width: 71%;
}

.site-content blockquote.alignright {
    border-top: 1px solid rgb(229, 229, 229);
    border-bottom: 1px solid rgb(229, 229, 229);
}

a.post-thumbnail:hover {
    background: transparent;
}

.list-view .site-content .hentry {
    border-top: 1px solid rgb(229, 229, 229);
    padding-top: 48px;
}

.gallery-caption {
    background: rgb(0, 0, 0);
    filter: alpha(opacity=0);
}

.gallery-item:hover .gallery-caption {
    filter: alpha(opacity=70);
}

.nav-links {
    border-top: 1px solid rgb(229, 229, 229);
}

.contributor {
    border-bottom: 1px solid rgb(229, 229, 229);
}

.comment-author .avatar {
    border: 1px solid rgb(229, 229, 229);
}

.comment-list .trackback {
    border-top: 1px solid rgb(229, 229, 229);
}

.comment-list .reply {
    margin-top: 0;
}

#secondary {
    color: rgb(179, 179, 179);
}

.widget abbr[title] {
    border-color: rgb(179, 179, 179);
}

.widget textarea {
    border-color: rgb(77, 77, 77);
    background-color: rgb(26, 26, 26);
    &:focus {
        border-color: rgb(38, 38, 38);
    }
}

.widget_twentyfourteen_ephemera .entry-meta a {
    color: rgb(179, 179, 179);
}

.widget del {
    color: rgb(102, 102, 102);
}

.widget hr {
    background-color: rgb(77, 77, 77);
}

.widget_calendar thead th {
    background-color: rgb(26, 26, 26);
}

.widget_pages li ul {
    border-top: 1px solid rgb(77, 77, 77);
}

.widget_twentyfourteen_ephemera > ol > li {
    border-bottom: 1px solid rgb(77, 77, 77);
}

.content-sidebar .widget_pages li ul {
    border-color: rgb(229, 229, 229);
}

.content-sidebar .widget hr {
    background-color: rgb(229, 229, 229);
}

.content-sidebar .widget textarea:focus {
    border: 1px solid rgb(178, 178, 178);
}

.content-sidebar .widget_calendar thead th {
    background-color: rgb(250, 250, 250);
}

.content-sidebar .widget_twentyfourteen_ephemera > ol > li {
    border-bottom: 1px solid rgb(229, 229, 229);
}

.site-info a {
    color: rgb(179, 179, 179);
}

#supplementary + .site-info {
    border-top: 1px solid rgb(77, 77, 77);
}

.featured-content {
    background: rgb(0, 0, 0);
}

/* Internet Explorer 8 */
.ie8 img[class*='attachment-'] {
    height: auto;
    width: auto;
}

.ie8 .attachment .site-content span.entry-date::before {
    content: '\f303';
    margin-right: 1px;
    position: relative;
    top: 1px;
}

.ie8 .entry-meta .edit-link a::before {
    content: '\f411';
}

.ie8 .main-content {
    float: left;
}

.ie8 .content-area {
    float: left;
    padding-top: 72px;
    width: 100%;
}

.ie8 .site-content {
    margin-right: 29.04761904%;
    margin-left: 17.61904761%;
    span + .entry-date::before {
        content: '';
    }
    .post-format a::before {
        display: inline-block;
        font: 400 16px/1 Genericons;
        text-decoration: inherit;
        vertical-align: text-bottom;
    }
    .entry-meta > span {
        margin-right: 10px;
    }
    .format-video .post-format a::before {
        content: '\f104';
    }
    .format-audio .post-format a::before {
        content: '\f109';
    }
    .format-image .post-format a::before {
        content: '\f473';
        position: relative;
        top: 1px;
    }
    .format-quote .post-format a::before {
        content: '\f106';
        margin-right: 2px;
    }
    .format-gallery .post-format a::before {
        content: '\f103';
        margin-right: 4px;
    }
    .format-aside .post-format a::before {
        content: '\f101';
        margin-right: 2px;
    }
    .format-link .post-format a::before {
        content: '\f107';
        position: relative;
        top: 1px;
    }
    .featured-post::before {
        content: '\f308';
        margin-right: 3px;
        position: relative;
        top: 1px;
    }
    .byline a::before {
        content: '\f304';
    }
    .comments-link a::before {
        content: '\f300';
        margin-right: 2px;
    }
    .full-size-link a::before {
        content: '\f402';
        margin-right: 1px;
    }
    .parent-post-link a::before {
        content: '\f301';
    }
    .has-post-thumbnail .entry-header {
        margin-top: -48px;
    }
    footer.entry-meta {
        margin-right: 54px;
        padding-right: 30px;
        padding-left: 30px;
    }
}

.ie8 .featured-content {
    padding-left: 17.61904761%;
}

.ie8 .header-main {
    padding: 0 0 0 30px;
}

.ie8 .search-toggle {
    margin-right: 0;
}

.ie8 .search-box .search-field {
    width: 324px;
}

.ie8 .site-navigation li .current-menu-ancestor > a {
    background-color: rgb(0, 0, 0);
}

.ie8 .primary-navigation {
    float: right;
    font-size: 11px;
    margin: 0 1px 0 -10px;
    padding: 0;
    text-transform: uppercase;
    &.toggled-on {
        border-bottom: 0;
        margin: 0;
        padding: 0;
    }
    .menu-toggle {
        display: none;
        padding: 0;
    }
    .nav-menu {
        border-bottom: 0;
        display: block;
    }
    li {
        border: 0;
        display: inline-block;
        height: 48px;
        line-height: 48px;
        position: relative;
        &.focus > a {
            background-color: rgb(36, 137, 13);
            color: rgb(255, 255, 255);
        }
        li {
            border: 0;
            display: block;
            height: auto;
            line-height: 1.0909090909;
        }
    }
    a {
        display: inline-block;
        padding: 0 10px;
        white-space: nowrap;
    }
    ul ul {
        background-color: rgb(36, 137, 13);
        margin: 0;
        position: absolute;
        top: 48px;
        left: -999em;
        z-index: 99999;
        ul {
            left: -999em;
            top: 0;
        }
        a {
            padding: 18px 12px;
            white-space: normal;
            width: 176px;
        }
        li.focus > a {
            background-color: rgb(65, 166, 42);
        }
        li.focus > ul {
            left: 100%;
        }
    }
    ul li.focus > ul {
        left: auto;
    }
}

.ie8 .page-header {
    margin: 0 auto 60px;
    padding: 0 10px;
}

.ie8 .list-view .site-content .hentry.has-post-thumbnail {
    border-top: 0;
    padding-top: 0;
}

.ie8 .comment-list article {
    margin-bottom: 36px;
    padding-top: 36px;
}

.ie8 .comment-author .avatar {
    height: 34px;
    top: 2px;
    width: 34px;
}

.ie8 .comment-metadata {
    padding-left: 50px;
}

.ie8 .comment-list .children {
    margin-left: 20px;
}

.ie8 .full-width .site-content {
    margin-right: 0;
    footer.entry-meta {
        padding-right: 30px;
        padding-left: 30px;
        margin-right: auto;
    }
}

.ie8 .full-width .hentry.has-post-thumbnail:first-child {
    margin-top: -72px;
}

.ie8 .singular .site-content .hentry.has-post-thumbnail {
    margin-top: 0;
}

.ie8 .error404 .page-header {
    margin-bottom: 24px;
}

.ie8 .contributor-avatar {
    margin-left: -168px;
}

.ie8 .contributor-summary {
    float: left;
}

.ie8 .site::before {
    background-color: rgb(0, 0, 0);
    content: '';
    display: block;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 17.61904761%;
    z-index: 2;
}

.ie8 #secondary {
    border: 0;
    clear: none;
    color: rgb(179, 179, 179);
    float: left;
    margin: 0 0 0 -100%;
    min-height: 100vh;
    padding: 0 30px;
    width: 12.85714285%;
}

.ie8 .site-description {
    display: block;
    margin: -3px 0 21px;
}

.ie8 .secondary-navigation {
    font-size: 11px;
    margin: 0 -30px 48px;
    width: calc(100% + 60px);
    li {
        border-top: 1px solid rgb(77, 77, 77);
        position: relative;
        &.focus > a {
            background-color: rgb(36, 137, 13);
            color: rgb(255, 255, 255);
        }
        li {
            border-top: 0;
        }
    }
    a {
        padding: 10px 30px;
    }
    ul ul {
        background-color: rgb(36, 137, 13);
        position: absolute;
        top: 0;
        left: -999em;
        width: 222px;
        z-index: 99999;
        li.focus > a {
            background-color: rgb(65, 166, 42);
        }
    }
    ul li.focus > ul {
        left: 202px;
    }
}

.ie8 .content-sidebar {
    border: 0;
    float: right;
    margin-left: -29.04761904%;
    padding: 72px 30px 24px;
    width: 29.04761904%;
}

.ie8 #supplementary {
    padding: 0;
}

.ie8 .footer-sidebar {
    font-size: 12px;
    line-height: 1.5;
    .widget {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        padding: 0 30px;
        width: 25%;
    }
}

.ie8 .primary-sidebar .widget {
    font-size: 12px;
    line-height: 1.5;
    &_pages li ul {
        border-top: 0;
        margin-top: 0;
    }
    &_recent_entries li {
        border-top: 0;
        padding: 0 0 6px;
    }
    &_twentyfourteen_ephemera .entry-content table {
        font-size: 11px;
        line-height: 1.6363636363;
    }
    h1 {
        font-size: 20px;
        line-height: 1.2;
    }
    h2 {
        font-size: 18px;
        line-height: 1.3333333333;
    }
    h3 {
        font-size: 16px;
        line-height: 1.5;
    }
    h4 {
        font-size: 14px;
        line-height: 1.7142857142;
    }
    h5 {
        font-size: 12px;
        line-height: 2;
    }
    h6 {
        font-size: 11px;
        line-height: 2.1818181818;
    }
    pre {
        font-size: 11px;
        line-height: 1.6363636363;
    }
    blockquote {
        font-size: 14px;
        line-height: 1.2857142857;
        cite {
            font-size: 12px;
            line-height: 1.5;
        }
    }
    textarea {
        font-size: 12px;
        padding: 3px 2px 4px 4px;
    }
    input[type='submit'] {
        padding: 5px 15px 4px;
    }
    .widget-title {
        font-size: 11px;
        font-weight: 700;
        line-height: 1.6363636363;
        margin-bottom: 18px;
    }
}

.ie8 .grid .featured-content .entry-header {
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 12px 10px;
    height: 120px;
    padding: 0;
}

.ie8 .grid .featured-content .hentry {
    float: left;
    width: 33.3333333%;
    &:nth-child(3n+1) {
        clear: both;
    }
}

.ie8 .slider .featured-content .entry-title {
    font-size: 33px;
    line-height: 1.0909090909;
}

.ie8 .slider .featured-content .entry-header {
    min-height: inherit;
    padding: 24px 30px 48px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    z-index: 3;
}

.ie8 .slider-control-paging {
    background: transparent;
    margin-top: -48px;
    padding-left: 24px;
    width: 50%;
    li {
        margin: 12px 12px 12px 0;
    }
    a {
        height: 24px;
        width: 24px;
        &::before {
            top: 6px;
            left: 6px;
        }
    }
}

.ie8 .slider-direction-nav {
    clear: none;
    float: right;
    margin-top: -48px;
    width: 98px;
    li {
        border: 0;
        padding: 0 0 0 1px;
        &:first-child {
            padding: 0 1px 0 0;
        }
    }
    a {
        height: 48px;
        &::before {
            line-height: 48px;
        }
    }
}

/* Internet Explorer 7 */
.ie7 video {
    display: inline;
    zoom: 1;
}

.ie7 textarea {
    vertical-align: middle;
}

.ie7 input[type='submit'] {
    overflow: visible;
}

.ie7 .screen-reader-text {
    clip: rect(1px 1px 1px 1px);
}

.ie7 .site-header {
    max-width: 100%;
}

.ie7 .search-toggle {
    line-height: 45px;
    margin-right: 190px;
    padding: 0 20px;
    text-transform: uppercase;
    width: auto;
    .screen-reader-text {
        color: rgb(255, 255, 255);
        position: relative;
    }
}

// Override inherited `absolute` value set in style.css.
.ie7 .search-box {
    height: 24px;
    padding: 12px 0;
    .search-field {
        margin: 0 10px;
        width: 33%;
    }
}

.ie7 .site-navigation li {
    border-top: 1px solid rgb(77, 77, 77);
}

.ie7 .secondary-navigation {
    border-bottom: 1px solid rgb(77, 77, 77);
    margin: 48px auto;
    max-width: 474px;
}

.ie7 .content-area {
    padding-top: 48px;
}

.ie7 .hentry {
    max-width: 100%;
}

.ie7 .menu-toggle {
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 16px;
    line-height: 45px;
    text-transform: uppercase;
    width: 200px;
}

.ie7 .post-thumbnail img {
    display: block;
    margin: 0 auto;
}

.ie7 .entry-meta .tag-links a {
    margin-left: 0;
}

.ie7 .content-sidebar {
    padding: 48px 10px;
    border-top: 1px solid rgb(229, 229, 229);
    border-bottom: 1px solid rgb(229, 229, 229);
    .widget_twentyfourteen_ephemera .widget-title {
        padding-top: 7px;
    }
}

.ie7 .singular .hentry.has-post-thumbnail {
    margin-top: -48px;
}

.ie7 #secondary {
    border-bottom: 1px solid rgb(77, 77, 77);
}

.ie7 .widget {
    margin: 0 auto 48px;
    max-width: 474px;
    &_twentyfourteen_ephemera .entry-title {
        margin-right: 20px;
    }
}

.ie7 .slider .featured-content .hentry {
    display: block;
}

.ie7 .featured-content .entry-header {
    min-height: 0;
    width: auto;
}

.ie7 .slider-direction-nav {
    border-top: 2px solid rgb(255, 255, 255);
    li {
        border: 0;
        width: 49%;
    }
    a {
        font-size: 16px;
        line-height: 45px;
        text-transform: uppercase;
        &:hover {
            background-color: rgb(0, 0, 0);
            color: rgb(65, 166, 42);
        }
    }
}

.ie7 .slider .featured-content .post-thumbnail {
    padding-top: 0;
}

.ie7 .featured-content .post-thumbnail img {
    position: relative;
}

.ie7 .grid .featured-content .hentry {
    float: left;
    margin: 0 auto;
    max-width: 672px;
    width: 33.333333%;
}

.ie7 .slider .featured-content .entry-header {
    margin: 0 auto;
    max-width: 1038px;
}

.ie7 .slider-control-paging {
    float: none;
    margin: -24px auto 0;
    max-width: 1038px;
    width: auto;
    a {
        line-height: 40px;
        text-indent: 0;
    }
    .slider-active {
        color: rgb(65, 166, 42);
    }
}

/* RTL for Internet Explorer 8 & 7 */
.rtl .widget_twentyfourteen_ephemera .entry-content a {
    display: inline;
}

/* RTL overrides for Internet Explorer 8 */
.ie8 .rtl .attachment .site-content span.entry-date::before {
    margin-right: auto;
    margin-left: 1px;
}

.ie8 .rtl .main-content {
    float: right;
}

.ie8 .rtl .content-area {
    float: right;
}

.ie8 .rtl .site-content {
    margin-right: 17.61904761%;
    margin-left: 29.04761904%;
    .entry-meta > span {
        margin-right: auto;
        margin-left: 10px;
    }
    .format-quote .post-format a::before {
        margin-right: auto;
        margin-left: 2px;
    }
    .format-gallery .post-format a::before {
        margin-right: auto;
        margin-left: 4px;
    }
    .format-aside .post-format a::before {
        margin-right: auto;
        margin-left: 2px;
    }
    .featured-post::before {
        margin-right: auto;
        margin-left: 3px;
    }
    .comments-link a::before {
        margin-right: auto;
        margin-left: 2px;
    }
    .full-size-link a::before {
        margin-right: auto;
        margin-left: 1px;
    }
    footer.entry-meta {
        margin-right: auto;
        margin-left: 54px;
    }
}

.ie8 .rtl .featured-content {
    padding-right: 17.61904761%;
    padding-left: 0;
}

.ie8 .rtl .header-main {
    padding: 0 30px 0 0;
}

.ie8 .rtl .search-toggle {
    margin-right: auto;
    margin-left: 0;
}

.ie8 .rtl .primary-navigation {
    float: left;
    margin: 0 -10px 0 1px;
    ul ul {
        float: right;
        right: -999em;
        left: auto;
        ul {
            right: -999em;
            left: auto;
        }
        li.focus > ul {
            right: 100%;
            left: auto;
        }
    }
    ul li.focus > ul {
        right: auto;
        left: auto;
    }
}

.ie8 .rtl .entry-meta .tag-links a::before {
    right: -8px;
}

.ie8 .rtl .comment-metadata {
    padding-right: 50px;
    padding-left: 0;
}

.ie8 .rtl .comment-list .children {
    margin-right: 20px;
    margin-left: auto;
}

.ie8 .rtl.full-width .site-content {
    margin-left: 0;
    footer.entry-meta {
        margin-left: auto;
    }
}

.ie8 .rtl .contributor-avatar {
    margin-right: -168px;
    margin-left: auto;
}

.ie8 .rtl .contributor-summary {
    float: right;
}

.ie8 .rtl .site::before {
    right: 0;
    left: auto;
}

.ie8 .rtl #secondary {
    float: right;
    margin: 0 -100% 0 0;
}

.ie8 .rtl .secondary-navigation ul ul {
    right: -999em;
    left: auto;
}

.ie8 .rtl .secondary-navigation ul li.focus > ul {
    right: 202px;
    left: auto;
}

.ie8 .rtl .content-sidebar {
    float: left;
    margin-right: -29.04761904%;
    margin-left: auto;
}

.ie8 .rtl .footer-sidebar .widget {
    float: right;
}

.ie8 .rtl.grid .featured-content .hentry {
    float: right;
}

.ie8 .rtl.slider .featured-content .entry-header {
    right: 0;
    left: auto;
}

.ie8 .rtl .slider-control-paging {
    padding-right: 24px;
    padding-left: 0;
    li {
        margin: 12px 0 12px 12px;
    }
    a::before {
        right: 6px;
        left: auto;
    }
}

.ie8 .rtl .slider-direction-nav {
    float: left;
    li {
        padding: 0 1px 0 0;
        &:first-child {
            padding: 0 0 0 1px;
        }
    }
}

/* RTL overrides for Internet Explorer 7 */
.ie7 .rtl.grid .featured-content .hentry {
    float: right;
}

.ie7 .rtl .slider-control-paging {
    float: none;
    margin: -24px auto 0;
}

.ie7 .rtl .entry-meta .tag-links a {
    margin-right: 0;
    margin-left: auto;
}

.ie7 .rtl .search-toggle {
    margin-right: auto;
    margin-left: 190px;
}
