.login {
    padding: 5px;
}

.login p.error {
    background-color: #ffebe8;
    border: 1px solid #c00;
    color: #333;
    padding: 5px;
}

.login p.message {
    background-color: #ffffe0;
    border: 1px solid #e6db55;
    color: #333;
    padding: 5px;
}

.login form label {
    display: block;
}

.login form p.forgetmenot label {
    display: inline;
}

.login input {
    margin: 5px 0;
}

.profile .screen-reader-text, .profile .screen-reader-text span {
    height: 1px;
    left: -1000em;
    overflow: hidden;
    position: absolute;
    width: 1px;
}

.mu_register .hint {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
}

.mu_register label.checkbox {
    display: inline;
}

#pass-strength-result {
    border: 1px solid;
    margin: 12px 5px 5px 1px;
    padding: 3px 5px;
    text-align: center;
    width: 200px;
}

#pass-strength-result.strong, #pass-strength-result.short {
    font-weight: bold;
}

#pass-strength-result {
    background-color: #eee;
    border-color: #ddd !important;
}

#pass-strength-result.bad {
    background-color: #ffb78c;
    border-color: #ff853c !important;
}

#pass-strength-result.good {
    background-color: #ffec8b;
    border-color: #fc0 !important;
}

#pass-strength-result.short {
    background-color: #ffa0a0;
    border-color: #f04040 !important;
}

#pass-strength-result.strong {
    background-color: #c3ff88;
    border-color: #8dff1c !important;
}

ul.tml-action-links li:first-child {
    display: none !important;
}
